$block: 'article';

.#{$block} {
  display: grid;
  grid-template-columns: [full-start]get-spacing(3) [safe-start]get-spacing(3) [content-start]1fr[content-end] get-spacing(3) [safe-end] get-spacing(3) [full-end];
  margin-bottom: get-spacing(4);

  > :first-child {
    margin-top: 0;
  }

  > * {
    grid-column-end: content-end;
    grid-column-start: content-start;
  }

  > figure,
  > .section--medium-width > .section--full-width {
    margin: get-spacing(3) 0;
  }

  > figure,
  > .section--medium-width {
    grid-column-end: safe-end;
    grid-column-start: safe-start;
  }

  > .section--full-width {
    grid-column-end: full-end;
    grid-column-start: full-start;
  }
}

@include media-breakpoint-up(lg) {
  .#{$block} {
    grid-template-columns: [full-start]1fr [safe-start]100px [content-start]var(--l--container-width, $container-width) [content-end] 100px[safe-end] 1fr[full-end];
  }
}
