$block: 'button';

.#{$block} {
  @include reset-button;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &.#{$block}--icon {
    --button-size: 1.5em;
    --icon-size: calc(var(--button-size) / 2);
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: var(--button-size);
    height: var(--button-size);
    justify-content: center;
    line-height: 1;
    padding: 0;
    text-align: center;
    width: var(--button-size);
  }

  .#{$block}__icon {
    fill: currentColor;
    font-size: var(--icon-size, 1em);
    vertical-align: middle;

    &.is--svg {
      height: var(--icon-size, 1em);
      width: var(--icon-size, 1em);
    }
  }
}
