$block: 'footer';

.#{$block} {
  margin: get-spacing(3) auto;
  max-width: 90%;
  padding: get-spacing(2);
}

@include media-breakpoint-up(lg) {
  .#{$block} {
    max-width: var(--l--container-width, $container-width);
  }
}
