$block: 'section';

.#{$block} {
  padding: get-spacing(2) get-spacing(3);

  & + & {
    margin-top: get-spacing(4);
  }

  .#{$block}__title {
    display: inline-block;
    text-decoration: underline get-color(brand-accent);
  }

  .#{$block}__content {
    margin: 0 auto;
    max-width: var(--l--container-extended-width);

    &.#{$block}__content--extended {
      max-width: 1280px;
    }
  }
}
