{
	"extends": "stylelint-config-sass-guidelines",
	"plugins": [
		"stylelint-selector-bem-pattern"
	],
	"rules": {
		"selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-z0-9]+(?:-[a-z0-9]+)*(?:__[a-z0-9]+(?:-[a-z0-9]+)*)?(?:--[a-z0-9]+(?:-[a-z0-9]+)*)?(?:\\[.+\\])?$",
		"plugin/selector-bem-pattern": {
			"preset": "bem"
		},
		"max-nesting-depth": 3
	}
}
