extends ../layouts/main.pug
append config
  - var currentPage = 'index'
  - var pageTitle = require('@projectConfig').APP_NAME
block content
  main.main
    section.section.u-bg-color--brand-grey-light
      .section__content
        h2.section__title Related Topics
        .related-post-list
          a.related-post(href="#1")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/640/360", alt="")
            h4.related-post__title Blog Entry Name for this Post
            span.related-post__date Published on 
              time 06/22/2018
          a.related-post(href="#2")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/640/360", alt="")
            h4.related-post__title This is a better blog post than the old one
            span.related-post__date Published on 
              time 06/22/2018
          a.related-post(href="#3")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/640/360", alt="")
            h4.related-post__title A blog post to learn to do X with Y techonlogy
            span.related-post__date Published on 
              time 06/22/2018
          a.related-post(href="#3")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/640/360", alt="")
            h4.related-post__title A blog post to learn to do X with Y techonlogy
            span.related-post__date Published on 
              time 06/22/2018
