extends ../layouts/main.pug
append config
  - var currentPage = 'index'
  - var pageTitle = require('@projectConfig').APP_NAME
block content
  main.main
    section.section
      .section__content.section__content--extended
        article.featured-article.u-bg-color--brand-white
          a.article-cover-link(href="/entry.html")
          .featured-article__image(role="img" data-src="//picsum.photos/1200/600")
          .featured-article__details
            h3.featured-article__title The best article in the blog so far. If doubts check with your doctor
            p.featured-article__excerpt Now any of your Google Home devices can connect to other Bluetooth speakers so you can control your entertainment experience simply using...
            span.featured-article__more.button Read Article
              i.button__icon.material-icons arrow_forward
    section.section
      .section__content
        h2.section__title Top Articles
        .related-post-list.related-post-list--of-3
          a.related-post(href="/entry.html#1")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/16/9" data-src="//picsum.photos/640/360", alt="")
            .related-post__details
              h4.related-post__title Blog Entry Name for this Post
              span.related-post__date Published on 
                time 06/22/2018
              span.related-post__excerpt You care about justice? Look beyond your own pain, Bruce. This city is rotting.
          a.related-post(href="/entry.html#2")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/16/9" data-src="//picsum.photos/640/360", alt="")
            .related-post__details
              h4.related-post__title This is a better blog post than the old one
              span.related-post__date Published on 
                time 06/22/2018
              span.related-post__excerpt This is what happens when an unstoppable force meets an immovable object.
          a.related-post(href="/entry.html#3")
            figure.ratio.ratio--16-by-9.related-post__image-container
              img.ratio__element.related-post__image(src="//picsum.photos/16/9" data-src="//picsum.photos/640/360", alt="")
            .related-post__details
              h4.related-post__title A blog post to learn to do X with Y techonlogy
              span.related-post__date Published on 
                time 06/22/2018
              span.related-post__excerpt But it's not who you are underneath... it's what you do that defines you.
    section.section
      .section__content
        h3.section__title Last Posts
        .posts-list
          .post
            figure.post__image-container.ratio.ratio--3-by-5
              a.ratio__element.post__link(href="/entry.html#01")
                img.post__image(data-src="//picsum.photos/250/150" alt="")
            span.post__details
              a.post__link(href="/entry.html#01")
                h4 There you are! There is nothing to fear but fear itseIf!
              .post__meta
                .post-topics
                  a.post-topics__topic(href="/topic-1") Topic 1
                  a.post-topics__topic(href="/topic-2") Topic 2
                  a.post-topics__topic(href="/topic-3") Topic 3
                time(timespan="1340816908130").post__time 1 hr ago
          .post
              figure.post__image-container.ratio.ratio--3-by-5
                a.ratio__element.post__link(href="/entry.html#01")
                  img.post__image(data-src="//picsum.photos/250/150" alt="")
              span.post__details
                a.post__link(href="/entry.html#01")
                  h4 There you are! There is nothing to fear but fear itseIf!
                .post__meta
                  .post-topics
                    a.post-topics__topic(href="/topic-1") Topic 1
                    a.post-topics__topic(href="/topic-2") Topic 2
                    a.post-topics__topic(href="/topic-3") Topic 3
                  time(timespan="1340816908130").post__time 1 hr ago
