extends ../layouts/main.pug
append config
  - var currentPage = 'index'
  - var pageTitle = require('@projectConfig').APP_NAME
block content
  main.main
    article.article
      figure.section--full-width
        img(src="//picsum.photos/150/78" srcset="//picsum.photos/300/160 300w, //picsum.photos/600/318 600w, //picsum.photos/1024/543 1024w, //picsum.photos/1200/636 1200w" alt="")
      h1 Who are those horrible orange men?
      h2 Oh sure! Blame the wizards!
      p If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. But I know you in the future. I cleaned your poop. I can explain. It's very valuable. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!
        strong  Say it in Russian! Meh. Eeeee!
        |  Now say 
        em "nuclear wessels"!
        |  I'm a thing.
      p But existing is basically all I do! Oh dear! She's stuck in an infinite loop, and he's an idiot! Well, that's love for you. What are you hacking off? Is it my torso?! 'It is!' My precious torso! One hundred dollars.
      p Good news, everyone! There's a report on TV with some very bad news! There's one way and only one way to determine if an animal is intelligent. Dissect its brain! I'll tell them you went down prying the wedding ring off his cold, dead finger.
      h3 Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages!
      p Good news, everyone! 
        del There's a report on TV
        mark with some very bad news!
        | There's one way and only one way to determine if an animal is intelligent. Dissect its brain! I'll tell them you went down prying the wedding ring off his cold, dead finger.
      p Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! You guys realize you live in a sewer, right? Robot 1-X, save my friends! And Zoidberg! Would you censor the Venus de Venus just because you can see her spewers?
      blockquote.blockquote.section--medium-width
        span.blockquote__stripe
        p.blockquote__quote Oh, how awful. Did he at least 
          a(href="#") die painlessly?
          |  ...To shreds, you say. Well, how is his wife holding up? …To shreds, you say. What are you hacking off? Is it my torso?! 'It is!' My precious torso!
      p Or a guy who burns down a bar for the insurance money! Why am I sticky and naked? Did I miss something fun? I'm a thing. I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him.
      figure
        img(src="//picsum.photos/150/75" srcset="//picsum.photos/360/180 360w, //picsum.photos/640/320 640w, //picsum.photos/1024/512 1024w, //picsum.photos/1280/640 1280w" alt="")
        figcaption The beautiful random image
      p Shut up and take my money! Tell her you just want to talk. It has nothing to do with mating. Who are those horrible orange men? No! I want to live! There are still too many things I don't own! Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry?
      h3 I'm sure those windmills will keep them cool.
      h4 Also Zoidberg.
      p Throw her in the brig. You are the last hope of the universe. You mean while I'm sleeping in it? Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds, you say.
      ul
        li Oh, I always feared he might run off like this. Why, why, why didn't I break his legs?
        li Hello Morbo, how's the family?
        li Now what?
      p Pansy. Incidentally, you have a dime up your nose. Hey, what kinda party is this? There's no booze and only one hooker. I can explain. It's very valuable.
      p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! I suppose I could part with 'one' and still be feared… Fry! Quit doing the right thing, you jerk! Uh, is the puppy mechanical in any way?
      ol
        li Oh, I always feared he might run off like this. Why, why, why didn't I break his legs?
        li Hello Morbo, how's the family?
        li Now what?
      code
        | Some Code
