block config
  - var currentPage = 'main'
  - var pageTitle = require('@projectConfig').APP_NAME
head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  title=pageTitle
  meta(name="description", content="")
  meta(name="viewport", value="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
