include ../utils/nav.pug
include ../utils/mdicon.pug
header.header
  button.button.button--icon.js--nav-toggler(data-toggle="MainNav")
    +mdicon("menu", "button__icon", "Toggle Menu")
  .logo-container
    a(href="/")
      img.header__logo(src=require("@images/logo.svg"), alt="Company Logo")
  nav#MainNav.nav
    ul.nav__menu
      +navLink('/', 'index', 'Home')
      +navLink('/about.html', 'about', 'About')
      +navLink('/entry.html', 'blog', 'Blog')
      +navLink('/contacts.html', 'contacts', 'Contacts')
  .nav-overlay.js--nav-toggler
