$block: 'related-post-list';

.#{$block} {
  display: grid;
  grid-gap: get-spacing(2);
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

@include media-breakpoint-up(sm) {
  .#{$block} {
    grid-gap: get-spacing(2);
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-breakpoint-up(lg) {
  .#{$block} {
    grid-gap: get-spacing(3);
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-breakpoint-up(xl) {
  .#{$block} {
    grid-template-columns: repeat(4, 1fr);
  }
}
