$block: 'related-post-list';

.#{$block} {
  display: grid;
  grid-row-gap: get-spacing();
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 get-spacing(3);
}

@include media-breakpoint-up(sm) {
  .#{$block} {
    grid-gap: get-spacing(2);
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@include media-breakpoint-up(lg) {
  .#{$block} {
    grid-gap: get-spacing(3);
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-breakpoint-up(xl) {
  .#{$block} {
    grid-template-columns: repeat(4, 1fr);
  }
}
