$brand-colors: (
  color--brand-white: #fff,
  color--brand-black: #212121,
  color--brand-grey: #3a3736,
  color--brand-grey-light: #eaeaea,
  color--brand-main: #ff9100,
  color--brand-main-dark: #ff6d00,
  color--brand-main-light: #ffb74d,
  color--brand-secondary: #009688,
  color--brand-accent: #512da8,
  color--brand-accent-dark: #311b92,
  color--brand-accent-light: #9575cd,
  color--state-positive: #00c853,
  color--state-negative: #c62828,
  color--state-neutral: #ffea00,
  color--text-normal: rgba(10, 10, 10, 0.8),
  color--text-inactive: rgba(10, 10, 10, 0.7),
  color--heading-normal: rgba(10, 10, 10, 1),
  color--heading-inactive: rgba(10, 10, 10, 0.9)
);
