:root {
  @each $colorName, $color in $brand-colors {
    --#{$colorName}: $color;
  }
  --l-container-width: $container-width;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid get-color(brand-main-dark);
  outline-offset: 2px;
}

html {
  font-size: 18px;
}

body {
  background-color: #fcfcfc;
}

figure {
  img {
    @include box-shadow(2);
    display: block;
    width: 100%;
  }

  figcaption {
    background: get-color(brand-white);
    padding: get-spacing(1);
  }
}
