:root {
  @each $colorName, $color in $brand-colors {
    --#{$colorName}: $color;
  }
  --l-container-width: $container-width;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid currentColor;
}

body {
  background-color: #fcfcfc;
}

figure {
  img {
    @include box-shadow(2);
    display: block;
    width: 100%;
  }

  figcaption {
    background: get-color(brand-white);
    padding: get-spacing(1);
  }
}

.disable--overflow-y {
  overflow-y: hidden;
}

@include media-breakpoint-up(xl) {
  $container-width: 720px;

  :root {
    --l--container-width: $container-width;
  }
}
