body {
  color: get-color(text-normal);
  font-family: $font-stack;
  line-height: 1.25;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h2,
h3,
h4 {
  color: get-color(heading-inactive);
  margin: ms(0) 0;
}

h4,
h5,
h6,
p {
  margin: 0.125em 0 0.25em;
}

h1 {
  color: get-color(heading-normal);
  font-size: ms(2);
  margin: ms(0) 0 ms(0.5);
}

h2 {
  font-size: ms(1);
}

h3 {
  font-size: ms(0.75);
}

h4 {
  font-size: ms(0.5);
}

h5 {
  font-size: ms(0.25);
}

h6 {
  font-size: ms(-0.75);
  line-height: 1;
}

p,
span,
blockquote,
a,
button {
  font-size: ms(0);
}

small {
  font-size: 0.5em;
}

ul,
ol {
  margin: ms(0.75) 0;

  li + li {
    margin: ms(0.25) 0 0;
  }
}

ul {
  list-style: inside;
}

ol {
  list-style: inside decimal;
}

a {
  color: get-color(brand-accent);
}

.material-icons {
  font-size: ms(0);

  // Rules for icons sizes
  &.mdi--size-normal {
    font-size: ms(0);
  }

  &.mdi--size-semi-normal {
    font-size: ms(0.5);
  }

  &.mdi--size-big {
    font-size: ms(1);
  }

  &.mdi--size-semi-big {
    font-size: ms(1.5);
  }

  // Rules for using icons as black on a light background.
  &.mdi--color-dark {
    color: rgba(0, 0, 0, 0.54);

    &.mdi--inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  // Rules for using icons as white on a dark background.
  &.mdi--color-light {
    color: rgba(255, 255, 255, 1);

    &.mdi--inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.blockquote {
  display: grid;
  grid-gap: ms(-0.5);
  grid-template-columns: 3px 1fr 3px;
  margin: ms(1) 0;

  .blockquote__stripe {
    background-color: get-color(brand-accent);
  }

  .blockquote__quote {
    font-size: ms(0.125);
  }
}

@include media-breakpoint-up(md) {
  body {
    line-height: 2;
  }

  h1 {
    font-size: ms(3);
  }

  h2 {
    font-size: ms(2.5);
  }

  h3 {
    font-size: ms(2);
  }

  h4 {
    font-size: ms(1.5);
  }

  h5 {
    font-size: ms(0);
  }

  h6 {
    font-size: ms(-0.5);
    line-height: 1;
  }

  ul,
  ol {
    margin: ms(0.75) ms(0.5);
  }

  .blockquote .blockquote__quote {
    line-height: 2;
    padding: ms(0.5) ms(0.25);
  }
}
