html {
  font-size: 16px;
  font-weight: 400;
}

body {
  color: get-color(text-normal);
  font-family: $font-stack;
  line-height: 1.5;
}

::selection {
  background-color: get-color(brand-main-light);
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: get-spacing(0);
}

h2,
h3,
h4 {
  color: get-color(heading-inactive);
  margin: ms(0) 0;
}

h4,
h5,
h6,
p,
code {
  margin: get-spacing(1) 0 get-spacing(2);
}

h1 {
  color: get-color(heading-normal);
  font-size: ms(1.5);
  margin: ms(0) 0 ms(0.5);
}

h2 {
  font-size: ms(0.8);
}

h3 {
  font-size: ms(0.75);
}

h4 {
  font-size: ms(0.5);
}

h5 {
  font-size: ms(0.25);
}

h6 {
  font-size: ms(-0.75);
  line-height: 1;
}

small {
  font-size: 0.5em;
}

ul,
ol {
  margin: get-spacing(3) 0 get-spacing(3) get-spacing(4);

  li + li {
    margin: ms(0.25) 0 0;
  }
}

ul {
  list-style: disc;
}

a {
  color: get-color(brand-accent);
  text-decoration-skip-ink: auto;

  &:hover,
  &:active,
  &:visited {
    color: get-color(brand-accent-light);
  }
}

code {
  background: get-color(brand-grey-light);
  display: block;
  padding: get-spacing(2);
}

mark {
  background-color: get-color(brand-main-light);
  display: inline;
  margin: 0 get-spacing(1);
  padding: 0 get-spacing(1);
}

del {
  opacity: 0.8;
  text-decoration: line-through;
}

figcaption {
  color: get-color(text-inactive);
  display: block;
  font-size: ms(-0.2);
  font-style: italic;
  font-weight: 200;
  line-height: 1;
  margin-top: get-spacing(2);
  text-align: center;
}

.material-icons {
  font-size: ms(0);

  // Rules for icons sizes
  &.mdi--size-normal {
    font-size: ms(0);
  }

  &.mdi--size-semi-normal {
    font-size: ms(0.5);
  }

  &.mdi--size-big {
    font-size: ms(1);
  }

  &.mdi--size-semi-big {
    font-size: ms(1.5);
  }

  // Rules for using icons as black on a light background.
  &.mdi--color-dark {
    color: rgba(0, 0, 0, 0.54);

    &.mdi--inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  // Rules for using icons as white on a dark background.
  &.mdi--color-light {
    color: rgba(255, 255, 255, 1);

    &.mdi--inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.blockquote {
  display: grid;
  grid-gap: get-spacing(3);
  grid-template-columns: 5px 1fr 5px;
  margin: get-spacing(3) 0;

  .blockquote__stripe {
    background-color: get-color(brand-accent-dark);
  }

  .blockquote__quote {
    color: get-color(brand-grey);
    font-size: ms(0.125);
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: calc(20px + 2 * ((100vw - 500px) / 1500)); // as seen on css-tricks
  }

  body {
    line-height: 1.58;
  }

  h1 {
    font-size: ms(1.5);
  }

  h2 {
    font-size: ms(1.3);
  }

  h3 {
    font-size: ms(1.1);
  }

  h4 {
    font-size: ms(0.9);
  }

  h5 {
    font-size: ms(0.5);
  }

  h6 {
    font-size: ms(-0.8);
    line-height: 1;
  }

  ul,
  ol {
    margin: get-spacing(3) 0 get-spacing(3) get-spacing(5);
  }

  .blockquote .blockquote__quote {
    line-height: 2;
    padding: get-spacing(2) get-spacing(1);
  }

  figcaption {
    text-align: left;
  }
}
